
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-qrcode:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
